<a href="https://colab.research.google.com/github/timtennyson/alphabet_soup/blob/main/GC_venture_funding_with_deep_learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [5]:
# Imports
import pandas as pd
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [7]:
# Upload credit_card_transactions.csv to Colab
from google.colab import files

csv_file = files.upload()

Saving applicants_data.csv to applicants_data (2).csv

In [10]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame

#Reading the csv into the file as a dataframe
applicant_data_df = pd.read_csv('applicants_data.csv')

# Review the DataFrame

#Displaying the new dataframe
applicant_data_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [11]:
# Review the data types associated with the columns
applicant_data_df.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [12]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame

#Dropping the columns
applicant_data_df = applicant_data_df.drop(["EIN","NAME"],axis=1)

# Review the DataFrame
applicant_data_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [13]:
# Create a list of categorical variables 

#Isolating the categorical variables
categorical_variables = list(applicant_data_df.dtypes[applicant_data_df.dtypes == "object"].index)

# Display the categorical variables list"

#Checking the categorical variables
display(categorical_variables)

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [14]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

In [15]:
# Encode the categorcal variables using OneHotEncoder

#Encoding the variables
encoded_data = enc.fit_transform(applicant_data_df[categorical_variables])

In [16]:
# Create a DataFrame with the encoded variables

#Creating a dataframe from the encoded data
encoded_df = pd.DataFrame(encoded_data,columns = enc.get_feature_names_out(categorical_variables))

# Review the DataFrame
encoded_df.head()

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [17]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame

#Adding in the numerical variables
encoded_df = pd.concat([applicant_data_df.drop(columns = categorical_variables),encoded_df], axis=1)

# Review the Dataframe
encoded_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [18]:
# Define the target set y using the IS_SUCCESSFUL column

#Defining the y feature
y = encoded_df["IS_SUCCESSFUL"]

# Display a sample of y
y[:8]

0    1
1    1
2    0
3    1
4    1
5    1
6    1
7    1
Name: IS_SUCCESSFUL, dtype: int64

In [21]:
# Define features set X by selecting all columns but IS_SUCCESSFUL

#Defining the X Feature
X = encoded_df.drop(["IS_SUCCESSFUL"],axis=1)

# Review the features DataFrame
X.head()

,STATUS,ASK_AMT,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 6: Split the features and target sets into training and testing datasets.

In [22]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1

#Splitting the data
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [23]:
# Create a StandardScaler instance

#Scaling the data
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [28]:
# Define the the number of inputs (features) to the model
number_input_features = number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [29]:
# Define the number of neurons in the output layer
number_output_neurons = 1

In [30]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 =  5

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

5

In [31]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 =  5

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

5

In [32]:
# Create the Sequential model instance
nn = Sequential()

In [34]:
# Add the first hidden layer
nn.add(Dense(units = hidden_nodes_layer1, input_dim = number_input_features, activation = 'relu'))

In [35]:
# Add the second hidden layer
nn.add(Dense(units=hidden_nodes_layer2, activation='relu'))

In [37]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(units=number_output_neurons, activation = 'linear'))

In [36]:
# Display the Sequential model summary
nn.summary

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [38]:
# Compile the Sequential model
nn.compile(loss = "binary_crossentropy", optimizer = "adam", metrics = ["accuracy"])

In [39]:
# Fit the model using 50 epochs and the training data
model = nn.fit(X_train_scaled,y_train,epochs=50)

Epoch 1/50
804/804 [==============================] - 3s 2ms/step - loss: 8.2288 - accuracy: 0.4665
Epoch 2/50
804/804 [==============================] - 1s 2ms/step - loss: 8.2288 - accuracy: 0.4665
Epoch 3/50
804/804 [==============================] - 1s 2ms/step - loss: 8.2288 - accuracy: 0.4665
Epoch 4/50
804/804 [==============================] - 1s 2ms/step - loss: 8.2288 - accuracy: 0.4665
Epoch 5/50
804/804 [==============================] - 1s 2ms/step - loss: 8.2288 - accuracy: 0.4665
Epoch 6/50
804/804 [==============================] - 1s 2ms/step - loss: 8.2288 - accuracy: 0.4665
Epoch 7/50
804/804 [==============================] - 1s 2ms/step - loss: 8.2288 - accuracy: 0.4665
Epoch 8/50
804/804 [==============================] - 1s 2ms/step - loss: 8.2288 - accuracy: 0.4665
Epoch 9/50
804/804 [==============================] - 1s 2ms/step - loss: 8.2288 - accuracy: 0.4665
Epoch 10/50
804/804 [==============================] - 1s 2ms/step - loss: 8.2288 - accuracy: 0.4665
Epoch 11/50
804/804 [==============================] - 1s 2ms/step - loss: 8.2288 - accuracy: 0.4665
Epoch 12/50
804/804 [==============================] - 1s 2ms/step - loss: 8.2288 - accuracy: 0.4665
Epoch 13/50
804/804 [==============================] - 1s 2ms/step - loss: 8.2288 - accuracy: 0.4665
Epoch 14/50
804/804 [==============================] - 1s 2ms/step - loss: 8.2288 - accuracy: 0.4665
Epoch 15/50
804/804 [==============================] - 1s 2ms/step - loss: 8.2288 - accuracy: 0.4665
Epoch 16/50
804/804 [==============================] - 1s 2ms/step - loss: 8.2288 - accuracy: 0.4665
Epoch 17/50
804/804 [==============================] - 1s 2ms/step - loss: 8.2288 - accuracy: 0.4665
Epoch 18/50
804/804 [==============================] - 1s 2ms/step - loss: 8.2288 - accuracy: 0.4665
Epoch 19/50
804/804 [==============================] - 1s 2ms/step - loss: 8.2288 - accuracy: 0.4665
Epoch 20/50
804/804 [==============================] - 1s 2ms/step - loss: 8.2288 - accuracy: 0.4665
Epoch 21/50
804/804 [==============================] - 1s 2ms/step - loss: 8.2288 - accuracy: 0.4665
Epoch 22/50
804/804 [==============================] - 1s 2ms/step - loss: 8.2288 - accuracy: 0.4665
Epoch 23/50
804/804 [==============================] - 1s 2ms/step - loss: 8.2288 - accuracy: 0.4665
Epoch 24/50
804/804 [==============================] - 1s 2ms/step - loss: 8.2288 - accuracy: 0.4665
Epoch 25/50
804/804 [==============================] - 1s 2ms/step - loss: 8.2288 - accuracy: 0.4665
Epoch 26/50
804/804 [==============================] - 1s 2ms/step - loss: 8.2288 - accuracy: 0.4665
Epoch 27/50
804/804 [==============================] - 1s 2ms/step - loss: 8.2288 - accuracy: 0.4665
Epoch 28/50
804/804 [==============================] - 1s 2ms/step - loss: 8.2288 - accuracy: 0.4665
Epoch 29/50
804/804 [==============================] - 1s 2ms/step - loss: 8.2288 - accuracy: 0.4665
Epoch 30/50
804/804 [==============================] - 1s 2ms/step - loss: 8.2288 - accuracy: 0.4665
Epoch 31/50
804/804 [==============================] - 1s 2ms/step - loss: 8.2288 - accuracy: 0.4665
Epoch 32/50
804/804 [==============================] - 1s 2ms/step - loss: 8.2288 - accuracy: 0.4665
Epoch 33/50
804/804 [==============================] - 1s 2ms/step - loss: 8.2288 - accuracy: 0.4665
Epoch 34/50
804/804 [==============================] - 1s 2ms/step - loss: 8.2288 - accuracy: 0.4665
Epoch 35/50
804/804 [==============================] - 1s 2ms/step - loss: 8.2288 - accuracy: 0.4665
Epoch 36/50
804/804 [==============================] - 1s 2ms/step - loss: 8.2288 - accuracy: 0.4665
Epoch 37/50
804/804 [==============================] - 1s 2ms/step - loss: 8.2288 - accuracy: 0.4665
Epoch 38/50
804/804 [==============================] - 1s 2ms/step - loss: 8.2288 - accuracy: 0.4665
Epoch 39/50
804/804 [==============================] - 2s 3ms/step - loss: 8.2288 - accuracy: 0.4665
Epoch 40/50
804/804 [==============================] - 3s 4ms/step - loss: 8.2288 - accuracy: 0.4665
Epoch 41/50
804/804 [==============================] - 3s 4ms/step - loss: 8.2288 - accuracy: 0.4665
Epoch 42/50
804/804 [==============================] - 3s 3ms/step - loss: 8.2288 - accuracy: 0.4665
Epoch 43/50
804/804 [==============================] - 2s 3ms/step - loss: 8.2288 - accuracy: 0.4665
Epoch 44/50
804/804 [==============================] - 2s 2ms/step - loss: 8.2288 - accuracy: 0.4665
Epoch 45/50
804/804 [==============================] - 2s 2ms/step - loss: 8.2288 - accuracy: 0.4665
Epoch 46/50
804/804 [==============================] - 1s 2ms/step - loss: 8.2288 - accuracy: 0.4665
Epoch 47/50
804/804 [==============================] - 1s 2ms/step - loss: 8.2288 - accuracy: 0.4665
Epoch 48/50
804/804 [==============================] - 1s 2ms/step - loss: 8.2288 - accuracy: 0.4665
Epoch 49/50
804/804 [==============================] - 1s 2ms/step - loss: 8.2288 - accuracy: 0.4665
Epoch 50/50
804/804 [==============================] - 1s 2ms/step - loss: 8.2288 - accuracy: 0.4665

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [40]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose = 2)

# Display the model loss and accuracy results
display(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 8.1631 - accuracy: 0.4708 - 401ms/epoch - 1ms/step

'Loss: 8.163082122802734, Accuracy: 0.4707871675491333'

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [42]:
# Set the model's file path
file_path = "./Resources"

# Export your model to a HDF5 file
nn.save(file_path)

INFO:tensorflow:Assets written to: ./Resources/assets

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1

In [43]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [44]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 10

In [45]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = 20

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

20

In [46]:
# Create the Sequential model instance
nn_A1 = Sequential()

In [47]:
# First hidden layer
nn_A1.add(Dense(units = hidden_nodes_layer1_A1, input_dim = number_input_features, activation = "relu"))


# Output layer
nn_A1.add(Dense(units = number_output_neurons_A1, activation = "linear"))


# Check the structure of the model
nn_A1.summary

In [48]:
# Compile the Sequential model
nn_A1.compile(loss = "binary_crossentropy", optimizer = "adam", metrics = ["accuracy"])

In [49]:
# Fit the model using 50 epochs and the training data
fit_model_A1 = nn_A1.fit(X_train_scaled,y_train,epochs=50)

Epoch 1/50
804/804 [==============================] - 4s 4ms/step - loss: 2.5437 - accuracy: 0.0097
Epoch 2/50
804/804 [==============================] - 2s 2ms/step - loss: 1.4427 - accuracy: 0.0466
Epoch 3/50
804/804 [==============================] - 1s 2ms/step - loss: 1.2764 - accuracy: 0.0543
Epoch 4/50
804/804 [==============================] - 1s 2ms/step - loss: 1.0558 - accuracy: 0.0812
Epoch 5/50
804/804 [==============================] - 1s 2ms/step - loss: 0.9418 - accuracy: 0.0920
Epoch 6/50
804/804 [==============================] - 1s 2ms/step - loss: 0.8932 - accuracy: 0.1150
Epoch 7/50
804/804 [==============================] - 1s 2ms/step - loss: 0.8460 - accuracy: 0.1578
Epoch 8/50
804/804 [==============================] - 1s 2ms/step - loss: 0.7958 - accuracy: 0.0811
Epoch 9/50
804/804 [==============================] - 1s 2ms/step - loss: 0.7749 - accuracy: 0.0836
Epoch 10/50
804/804 [==============================] - 1s 2ms/step - loss: 0.7641 - accuracy: 0.0598
Epoch 11/50
804/804 [==============================] - 1s 2ms/step - loss: 0.7348 - accuracy: 0.0416
Epoch 12/50
804/804 [==============================] - 1s 2ms/step - loss: 0.7142 - accuracy: 0.0685
Epoch 13/50
804/804 [==============================] - 1s 2ms/step - loss: 0.7015 - accuracy: 0.1117
Epoch 14/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6850 - accuracy: 0.0622
Epoch 15/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6735 - accuracy: 0.0671
Epoch 16/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6655 - accuracy: 0.0741
Epoch 17/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6746 - accuracy: 0.0565
Epoch 18/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6695 - accuracy: 0.0528
Epoch 19/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6562 - accuracy: 0.0738
Epoch 20/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6602 - accuracy: 0.0702
Epoch 21/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6407 - accuracy: 0.0700
Epoch 22/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6308 - accuracy: 0.0943
Epoch 23/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6316 - accuracy: 0.1383
Epoch 24/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6245 - accuracy: 0.0652
Epoch 25/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6270 - accuracy: 0.0689
Epoch 26/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6227 - accuracy: 0.0285
Epoch 27/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6211 - accuracy: 0.0300
Epoch 28/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6133 - accuracy: 0.0505
Epoch 29/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6168 - accuracy: 0.0517
Epoch 30/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6129 - accuracy: 0.0981
Epoch 31/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6252 - accuracy: 0.1291
Epoch 32/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6109 - accuracy: 0.1007
Epoch 33/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6077 - accuracy: 0.1085
Epoch 34/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6101 - accuracy: 0.0612
Epoch 35/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6090 - accuracy: 0.0871
Epoch 36/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6037 - accuracy: 0.0679
Epoch 37/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6013 - accuracy: 0.1056
Epoch 38/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6004 - accuracy: 0.0830
Epoch 39/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6157 - accuracy: 0.0903
Epoch 40/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6206 - accuracy: 0.1018
Epoch 41/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6086 - accuracy: 0.0435
Epoch 42/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6058 - accuracy: 0.0455
Epoch 43/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6005 - accuracy: 0.0337
Epoch 44/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5975 - accuracy: 0.0779
Epoch 45/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5955 - accuracy: 0.0836
Epoch 46/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6024 - accuracy: 0.0683
Epoch 47/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5975 - accuracy: 0.0359
Epoch 48/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6029 - accuracy: 0.0833
Epoch 49/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5961 - accuracy: 0.0473
Epoch 50/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6072 - accuracy: 0.0571

#### Alternative Model 2

In [50]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [89]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = 1

In [90]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = 100

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

100

In [91]:
# Create the Sequential model instance
nn_A2 = Sequential()

In [92]:
# First hidden layer
nn_A2.add(Dense(units = hidden_nodes_layer1_A2, input_dim = number_input_features, activation = "relu"))

# Output layer
nn_A2.add(Dense(number_output_neurons_A2, activation = "linear"))

# Check the structure of the model
nn_A2.summary

In [93]:
# Compile the model
nn_A2.compile(loss = "binary_crossentropy", optimizer = "adam", metrics = ["accuracy"])

In [94]:
# Fit the model
fit_model_A2 = nn_A2.fit(X_train_scaled,y_train,epochs=50)

Epoch 1/50
804/804 [==============================] - 2s 2ms/step - loss: 1.8371 - accuracy: 0.6613
Epoch 2/50
804/804 [==============================] - 1s 2ms/step - loss: 2.5802 - accuracy: 0.6752
Epoch 3/50
804/804 [==============================] - 1s 2ms/step - loss: 2.2927 - accuracy: 0.6870
Epoch 4/50
804/804 [==============================] - 1s 2ms/step - loss: 1.5910 - accuracy: 0.7063
Epoch 5/50
804/804 [==============================] - 1s 2ms/step - loss: 1.1558 - accuracy: 0.7238
Epoch 6/50
804/804 [==============================] - 1s 2ms/step - loss: 1.9054 - accuracy: 0.6763
Epoch 7/50
804/804 [==============================] - 1s 2ms/step - loss: 1.6262 - accuracy: 0.6967
Epoch 8/50
804/804 [==============================] - 1s 2ms/step - loss: 0.9360 - accuracy: 0.7183
Epoch 9/50
804/804 [==============================] - 1s 2ms/step - loss: 1.2656 - accuracy: 0.7015
Epoch 10/50
804/804 [==============================] - 1s 2ms/step - loss: 1.5054 - accuracy: 0.6771
Epoch 11/50
804/804 [==============================] - 1s 2ms/step - loss: 1.7597 - accuracy: 0.6631
Epoch 12/50
804/804 [==============================] - 1s 2ms/step - loss: 1.5585 - accuracy: 0.6849
Epoch 13/50
804/804 [==============================] - 1s 2ms/step - loss: 1.4707 - accuracy: 0.6789
Epoch 14/50
804/804 [==============================] - 1s 2ms/step - loss: 1.3141 - accuracy: 0.6980
Epoch 15/50
804/804 [==============================] - 1s 2ms/step - loss: 1.4990 - accuracy: 0.6860
Epoch 16/50
804/804 [==============================] - 1s 2ms/step - loss: 1.5926 - accuracy: 0.6813
Epoch 17/50
804/804 [==============================] - 1s 2ms/step - loss: 1.5559 - accuracy: 0.6906
Epoch 18/50
804/804 [==============================] - 1s 2ms/step - loss: 1.7471 - accuracy: 0.6747
Epoch 19/50
804/804 [==============================] - 1s 2ms/step - loss: 1.3740 - accuracy: 0.6908
Epoch 20/50
804/804 [==============================] - 1s 2ms/step - loss: 1.2288 - accuracy: 0.7090
Epoch 21/50
804/804 [==============================] - 1s 2ms/step - loss: 1.4135 - accuracy: 0.7002
Epoch 22/50
804/804 [==============================] - 1s 2ms/step - loss: 1.2347 - accuracy: 0.7080
Epoch 23/50
804/804 [==============================] - 1s 2ms/step - loss: 1.2238 - accuracy: 0.7160
Epoch 24/50
804/804 [==============================] - 1s 2ms/step - loss: 1.2062 - accuracy: 0.7167
Epoch 25/50
804/804 [==============================] - 1s 2ms/step - loss: 1.1454 - accuracy: 0.7159
Epoch 26/50
804/804 [==============================] - 1s 2ms/step - loss: 1.0739 - accuracy: 0.7223
Epoch 27/50
804/804 [==============================] - 1s 2ms/step - loss: 0.9332 - accuracy: 0.7188
Epoch 28/50
804/804 [==============================] - 1s 2ms/step - loss: 1.0360 - accuracy: 0.7124
Epoch 29/50
804/804 [==============================] - 1s 2ms/step - loss: 0.9899 - accuracy: 0.7172
Epoch 30/50
804/804 [==============================] - 1s 2ms/step - loss: 0.9021 - accuracy: 0.7089
Epoch 31/50
804/804 [==============================] - 1s 2ms/step - loss: 0.8121 - accuracy: 0.7261
Epoch 32/50
804/804 [==============================] - 1s 2ms/step - loss: 0.8342 - accuracy: 0.7222
Epoch 33/50
804/804 [==============================] - 1s 2ms/step - loss: 0.8242 - accuracy: 0.7254
Epoch 34/50
804/804 [==============================] - 1s 2ms/step - loss: 0.8121 - accuracy: 0.7252
Epoch 35/50
804/804 [==============================] - 1s 2ms/step - loss: 0.8614 - accuracy: 0.7219
Epoch 36/50
804/804 [==============================] - 1s 2ms/step - loss: 0.8611 - accuracy: 0.7244
Epoch 37/50
804/804 [==============================] - 1s 2ms/step - loss: 0.8505 - accuracy: 0.7255
Epoch 38/50
804/804 [==============================] - 1s 2ms/step - loss: 0.8426 - accuracy: 0.7230
Epoch 39/50
804/804 [==============================] - 1s 2ms/step - loss: 0.8778 - accuracy: 0.7160
Epoch 40/50
804/804 [==============================] - 1s 2ms/step - loss: 0.8749 - accuracy: 0.7141
Epoch 41/50
804/804 [==============================] - 1s 2ms/step - loss: 0.8250 - accuracy: 0.7215
Epoch 42/50
804/804 [==============================] - 1s 2ms/step - loss: 0.8091 - accuracy: 0.7198
Epoch 43/50
804/804 [==============================] - 1s 2ms/step - loss: 0.7952 - accuracy: 0.7266
Epoch 44/50
804/804 [==============================] - 1s 2ms/step - loss: 0.7994 - accuracy: 0.7240
Epoch 45/50
804/804 [==============================] - 1s 2ms/step - loss: 0.8043 - accuracy: 0.7197
Epoch 46/50
804/804 [==============================] - 1s 2ms/step - loss: 0.7907 - accuracy: 0.7242
Epoch 47/50
804/804 [==============================] - 1s 2ms/step - loss: 0.7974 - accuracy: 0.7242
Epoch 48/50
804/804 [==============================] - 1s 2ms/step - loss: 0.7923 - accuracy: 0.7215
Epoch 49/50
804/804 [==============================] - 1s 2ms/step - loss: 0.7889 - accuracy: 0.7286
Epoch 50/50
804/804 [==============================] - 1s 2ms/step - loss: 0.8199 - accuracy: 0.7151

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [95]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose = 2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
268/268 - 0s - loss: 8.1631 - accuracy: 0.4708 - 407ms/epoch - 2ms/step
Loss: 8.163082122802734, Accuracy: 0.4707871675491333

In [96]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A1.evaluate(X_test_scaled, y_test, verbose = 2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 1 Results
268/268 - 0s - loss: 0.6098 - accuracy: 0.0470 - 289ms/epoch - 1ms/step
Loss: 0.6098393201828003, Accuracy: 0.046997085213661194

In [97]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A2.evaluate(X_test_scaled, y_test, verbose = 2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 2 Results
268/268 - 0s - loss: 0.7902 - accuracy: 0.7243 - 393ms/epoch - 1ms/step
Loss: 0.7901872396469116, Accuracy: 0.7243148684501648

### Step 3: Save each of your alternative models as an HDF5 file.

In [100]:
# Set the file path for the first alternative model
file_path = "./Resources"

# Export your model to a HDF5 file
nn_A1.save(file_path)

INFO:tensorflow:Assets written to: ./Resources/assets

In [101]:
# Set the file path for the second alternative model
file_path = "./Resources"

# Export your model to a HDF5 file
nn_A2.save(file_path)

INFO:tensorflow:Assets written to: ./Resources/assets